In [1]:
# Must have pandas, pymongo, and yfinace installed on environment
import pandas as pd
import pymongo as py
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
#API calls
#AstraZeneca
azn = yf.Ticker("AZN")
#Bristol Myers Squibb
bmy = yf.Ticker("BMY")
#Johnson & Johnson
jnj = yf.Ticker("JNJ")
#Merck
mrk = yf.Ticker("MRK")
#Pfizer
pfe = yf.Ticker("PFE")

In [3]:
#Extracting history data from stocks (parameters can change)
#Period parameters - 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
#Interval parameters - 1m, 2m, 5m, 15m, 30m, 1h, 1d, 5d, 1wk, 1mo, 3mo
azn_data = azn.history(interval="1d", period="10y")
bmy_data = bmy.history(interval="1d", period="10y")
jnj_data = jnj.history(interval="1d", period="10y")
mrk_data = mrk.history(interval="1d", period="10y")
pfe_data = pfe.history(interval="1d", period="10y")

In [4]:
#Converting to a DataFrame
azn_df = pd.DataFrame(azn_data)
bmy_df = pd.DataFrame(bmy_data)
jnj_df = pd.DataFrame(jnj_data)
mrk_df = pd.DataFrame(mrk_data)
pfe_df = pd.DataFrame(pfe_data)

In [5]:
#Inserting an identifier to know which stock the information came from
azn_df.insert(0, 'stock_name', 'AZN')
bmy_df.insert(0, 'stock_name', 'BMY')
jnj_df.insert(0, 'stock_name', 'JNJ')
mrk_df.insert(0, 'stock_name', 'MRK')
pfe_df.insert(0, 'stock_name', 'PFE')

In [6]:
#Add DataFrames to a list
dataframes = [azn_df, bmy_df, jnj_df, mrk_df, pfe_df]
#Concatinate this list into one DataFrame
stock_df = pd.concat(dataframes)

In [7]:
#Reset index
stock_df.reset_index(inplace=True)

In [8]:
#Remove unnecessary columns
stock_df.drop(["Dividends", "Stock Splits"], axis=1, inplace=True)

In [9]:
stock_df.rename(columns={"Date":"date", 
                         "Open": "open", 
                         "High": "high",
                         "Low": "low",
                         "Close": "close", 
                         "Volume": "volume",}, inplace=True)

In [10]:
stock_df

,date,stock_name,open,high,low,close,volume
0,2011-03-03,AZN,15.688405,15.772751,15.646231,15.733822,1471600
1,2011-03-04,AZN,15.860339,15.909001,15.707866,15.837630,1505400
2,2011-03-07,AZN,15.850608,15.853852,15.636498,15.665695,1762200
3,2011-03-08,AZN,15.548910,15.613792,15.500248,15.561887,1858800
4,2011-03-09,AZN,15.678674,15.698137,15.607303,15.652720,2595600
...,...,...,...,...,...,...,...
12580,2021-02-25,PFE,33.820000,34.110001,33.540001,33.820000,37506100
12581,2021-02-26,PFE,33.840000,33.900002,33.360001,33.490002,41418100
12582,2021-03-01,PFE,33.590000,33.930000,33.509998,33.689999,30176500
12583,2021-03-02,PFE,33.680000,33.889999,33.500000,33.509998,27621600
12584,2021-03-03,PFE,33.509998,34.380001,33.439999,34.375000,29642110